################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication11/bin
/WebApplication11/obj
/WebApplication11/WebApplication11.csproj.user
